/* Customize container */

@media (min-width: 768px) {
	.container {
		max-width: 1000px;
	}
}

/* For prescorer interface */

.horizontal {
	display: inline-flex;
}

/* For Scorer interface */


.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }

  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

		.background {
		    width: 200px;
		    height: 200px;
		    background-image: url('/static/images/team_img.PNG');
		    position: absolute;
		    z-index: 1;
		}

		.circle {
		  width: 10px;
		  height: 10px;
		  border-radius: 50%;
		  -moz-border-radius: 50%;
		  -webkit-border-radius: 50%;
		  display: inline-block;
		  background: #00b3e7;

		}

		.empty-circle {
		  width: 10px;
		  height: 10px;
		  border-radius: 50%;
		  -moz-border-radius: 50%;
		  -webkit-border-radius: 50%;
		  display: inline-block;
		  background: white;

		}





		.md-card.md-default-theme{

		    background-color: #1E90FF;
		}

		.fg {


		}


		.f {
		    position: relative;
		    top: -30px;
		}

		.fg1{
			position: relative;
			top: -45px;
			  margin-bottom:0px

 	 }
		.fg2{

				position: relative;
				top: -50px;
				margin-bottom:-30px
		}
		.rana5{
			color:white;
		}

		.buttondemoBasicUsage section {
		    background: #f7f7f7;
		    border-radius: 3px;
		    text-align: center;
		    margin: 1em;
		    position: relative !important;
		    padding-bottom: 10px;
		}



.md-button{
	margin-top: -2px;
	    margin-right: -3px;
			margin-bottom: -2px;
			margin-left: -3px;
}


		.md-button.md-default-theme.md-raised.md-primary {
		    color: #fff;
		    background-color: #4caf50;
		}
		.md-button.md-default-theme.md-raised.md-warnnn{
		    color: #000000;
		    background-color: #e5e7e5;
		}

		.md-button.md-default-theme.md-raised.md-warn {
		    color: #fff;
		    background-color: #f44336;
		}
		.md-button.md-default-theme.md-raised.md-warnn {
		    color: #fff;
		    background-color:#4caf50;
		}

.yash{
	background-color:#0D47A1;

}

h1 {
	 font-size: 50px;
}

h3 {
    font-size: 24px;
    color: white;
		margin-top: 10px;
 	 margin-bottom: 10px;
}
.glyphicon.glyphicon-stop{
	color:green;
}
		.md-button.md-default-theme.md-info.md-raised:not([disabled]):hover {
		    background-color: #619bf2;
		}
		.md-button.md-default-theme.md-info.md-raised {
		    background-color: #619bf2;
		    color: #fff;
		}
		.md-button.btn-direction {
		    overflow: visible;
		}
		.md-button {
		    text-transform: none;
		}
