/* Colors */

$red: #ce2127;
$blue: #18417f;
$lt-blue: #456594;
$da-blue: #173f7c;
$alt-blue: #1357a8;
$alt-lt-blue: #194586;
$grey: #ededed;
$white: #ffffff;
$border-grey: #c2c2c2;
$border-grey2: #c4c4c4;
$yellow: #fff729;
/* Text color variables */

$black: #000000;
$txt-grey: #606060;

/* Helper classes */

.no-margin {
	margin: 0 !important;
}