/* Colors */




$sc-theme2: #ce2127;
$sc-theme1: #194586;
$sc-theme-menu-li:  #14376b;
$sc-theme-menu-a: #163e78;

$sc-theme-right-left-mid-tab-color-li-background: #dfdfdf ;
$sc-theme-left-mid-tab-color-a-background-color: #0d47a1 ;
